.topTextContainer {
  flex: 0 1 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

.actionsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;

  .nameEntry {
    flex: 0 0 15%;
    text-align: center;
    min-height: 60px;

    input {
      font-size: xx-large;
      width: calc(100% - 20px);
      text-align: center;
      background-color: rgb(131, 148, 204, 0.4);
      fill-opacity: 30%;
      color: white;
    }
  }


  @media (max-height: 300px) {
    .buttonsContainer {
        flex-direction: row;
    }
    
  }

  .buttonsContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;

    .buttonTextDiv {
      span {
        font-size: smaller;
        display: block;
      }
    }
  }

  .titleTextGoDiv {
    flex: 1;

    :last-child() {
      display: inline-block;
    }
  }

  .buttonTextDiv {
    flex: 1;
    flex-direction: column;
    justify-content: center;

    button {
      margin-bottom: 10px;
    }

    span {
      font-size: smaller;
    }
  }
}

.bigButton {
  font-size: x-large;
}
