.topTextContainer {
  flex: 0 1 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

.actionsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;

  .nameEntry {
    flex: 0 0 15%;
    text-align: center;
    min-height: 60px;
    display: flex;
    flex-direction: column;
  }

  .buttonsContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
    justify-content: space-around;
  }

  .inputAndButtonDiv {
    display: flex;
    font-size: x-large;
    flex: 1 1;
  }

  .buttonTextDiv {
    flex: 1;
    flex-direction: column;
    justify-content: center;

    button {
      margin-bottom: 10px;
    }

    span {
      font-size: smaller;
    }
  }
}

#codeInput {
  width: 8ch;
  height: 58px;
}

.fancyInput {
  padding: 0 3px;
  font-size: 49px;
  width: 11ch;
  overflow: hidden;
  text-align: center;
  background-color: rgb(131, 148, 204, 0.4);
  fill-opacity: 30%;
  color: white;
  border: none;
  box-shadow: 0 0 10px black;
}

.faArrowIcon {
  box-shadow: 0 0 10px black;
  padding: 5px 10px;
  cursor: pointer;
}

.joinGameComponent {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.titleTextAndGoDiv {
  align-self: center;
}