.hostContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

._hostTop {
  height: 40px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

._hostBottom {
  height: calc(100% - 40px);
  display: flex;
  flex-direction: row;
}

.playersGrid {
    min-width: 250px;
    flex: 0 0 20%;
    background-color: blue;
    flex-direction: column;
    display: flex;
    color: white;
}

._hostPlayerRow {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid black;

    > * {
        display: flex;
        flex: 0 0 30px;
    }

    :first-child {
        flex: 2;
    }

    &:hover {
        background-color: darkblue;
    }

}


.controlGrid {
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: red;

    ._controlButtons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

._questionDiv {
    margin: 20px 0;

    ._textarea {
        height: 100px;
        width: 100%;
    }
}

._answerDiv {
    width: 100%;
    height: 80px;

    ._answerInput {
        width: 50ch;
        font-size: large;
    }
}
