$topPadding: 0;
$bottomPadding: 30;

.top {
  height: calc(50% - #{$topPadding * 2}px);
  padding: #{$topPadding}px;
  background-color: blue;
}

.buzzDiv {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.buzzContainer {
  aspect-ratio: 1/1;
  max-height: 50%;
  border-radius: 50%;
  padding: #{$bottomPadding}px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buzzable {
  background-color: aquamarine;
}

.notBuzzable {
  background-color: rgba(10, 10, 10, 0.3);
}

.inGameBottomDiv {
  display: flex;
  flex-direction: row;
  height: calc(50% - #{$bottomPadding * 2}px);
  padding: #{$bottomPadding}px;
}

.center {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  text-align: center;
  color: white;
}
