$topPadding: 0;
$bottomPadding: 30;

.top {
  height: calc(50% - #{$topPadding * 2}px);
  padding: #{$topPadding}px;
  background-color: blue;
}

.buzzable {
  background-color: aquamarine !important;
}

.notBuzzable {
  background-color: rgba(10, 10, 10, 0.3);
}

._buzzButton {
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 120px;
  text-align: center;
  box-shadow: 0 6px 0 0 black;
  border-color: black;
  color: white;

  &:active, &:hover {
    background-color: transparent;
  }
}

.inGameBottomDiv {
  display: flex;
  flex-direction: row;
  height: calc(50% - #{$bottomPadding * 2}px);
  padding: #{$bottomPadding}px 10px;
  max-width: 800px;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
  overflow-y: auto;
}

.niceBuzzDiv {
  display: flex;
  flex-direction: row;
  height: calc(50% - #{$bottomPadding * 2}px);
  padding: #{$bottomPadding}px;
  color: white;
  text-align: center;
  justify-content: center;
}
