.jeopardyBoard {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: auto;
}

.board {
  max-height: 100%;
  display: flex;
  flex-direction: row;

  .jeopardyCategory {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    color: white;

    > * {
      min-height: 30px;
      aspect-ratio: 2/1;
      background-color: blue;
      border: 3px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      flex: 1;
    }

    .jeopardyQuestionValue {
      padding: 10px;
      color: gold;
      &::before {
        content: "$";
      }
    }
  }
}

.jeopardyFullScreenQuestion {
  background-color: blue;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: static;
}