html {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
}

body,
html,
#root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #3c252a;
  background-image: linear-gradient(to bottom right, #ff0088, #fff600);
}

#root {
  height: 100%;
}

input {
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  -o-border-image: initial;
     border-image: initial;
}

.container {
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
}
.container > * {
  display: flex;
  align-items: center;
}

button {
  border-radius: 1000px;
  background-color: #0077ed;
  color: white;
  padding: 1em 2em;
  min-width: 40px;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  box-sizing: border-box;
  margin: 0em;
  border: none;
  cursor: pointer;
}

._clickableButton {
  all: unset;
  border: 2px solid blue;
  border-radius: 0.5em;
  padding: 1em 2em;
  box-shadow: 0 6px 0 0 blue;
  position: relative;
  max-width: 50ch;
  cursor: pointer;
  margin-bottom: 10px;
}
._clickableButton ._faIcon {
  margin-right: 1em;
}
._clickableButton:active {
  box-shadow: none;
  top: 6px;
}
._clickableButton:hover {
  background-color: rgba(0, 0, 255, 0.18);
}

.topTextContainer {
  flex: 0 1 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

.actionsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.actionsContainer .nameEntry {
  flex: 0 0 15%;
  text-align: center;
  min-height: 60px;
  display: flex;
  flex-direction: column;
}
.actionsContainer .buttonsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;
  justify-content: space-around;
}
.actionsContainer .inputAndButtonDiv {
  display: flex;
  font-size: x-large;
  flex: 1 1;
}
.actionsContainer .buttonTextDiv {
  flex: 1;
  flex-direction: column;
  justify-content: center;
}
.actionsContainer .buttonTextDiv button {
  margin-bottom: 10px;
}
.actionsContainer .buttonTextDiv span {
  font-size: smaller;
}

#codeInput {
  width: 8ch;
  height: 58px;
}

.fancyInput {
  padding: 0 3px;
  font-size: 49px;
  width: 11ch;
  overflow: hidden;
  text-align: center;
  background-color: rgba(131, 148, 204, 0.4);
  fill-opacity: 30%;
  color: white;
  border: none;
  box-shadow: 0 0 10px black;
}

.faArrowIcon {
  box-shadow: 0 0 10px black;
  padding: 5px 10px;
  cursor: pointer;
}

.joinGameComponent {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.titleTextAndGoDiv {
  align-self: center;
}

.top {
  height: calc(50% - 0px);
  padding: 0px;
  background-color: blue;
}

.buzzable {
  background-color: aquamarine !important;
}

.notBuzzable {
  background-color: rgba(10, 10, 10, 0.3);
}

._buzzButton {
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 120px;
  text-align: center;
  box-shadow: 0 6px 0 0 black;
  border-color: black;
  color: white;
}
._buzzButton:active, ._buzzButton:hover {
  background-color: transparent;
}

.inGameBottomDiv {
  display: flex;
  flex-direction: row;
  height: calc(50% - 60px);
  padding: 30px 10px;
  max-width: 800px;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
  overflow-y: auto;
}

.niceBuzzDiv {
  display: flex;
  flex-direction: row;
  height: calc(50% - 60px);
  padding: 30px;
  color: white;
  text-align: center;
  justify-content: center;
}

.gameIdDiv {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gameIdDiv .buttons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.playerList {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.playerList .startButtonDiv {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.playerList .playersTable {
  width: 90%;
  max-width: 450px;
  flex: 1 1 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.playerList .player {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tableContainer {
  padding-top: 80px;
}

#resultTable {
  display: table;
  table-layout: fixed;
  width: 100%;
  text-align: center;
}
#resultTable td {
  width: 33%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.result {
  max-width: 50%;
  width: 400px;
}

.playerCircleDiv {
  color: white;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  box-shadow: 0 1px 0 black;
  margin: 4px;
  border-radius: 1em;
}

.highlight {
  background-color: green;
}

.inGamePlayersListDiv {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.hostContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

._hostTop {
  height: 40px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

._hostBottom {
  height: calc(100% - 40px);
  display: flex;
  flex-direction: row;
}

.playersGrid {
  min-width: 250px;
  flex: 0 0 20%;
  background-color: blue;
  flex-direction: column;
  display: flex;
  color: white;
}

.scoreChangeInput {
  width: 20px;
  display: flex;
}

._hostPlayerRow {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid black;
}
._hostPlayerRow > * {
  display: flex;
  flex: 0 0 30px;
  margin: 0 4px 0 0;
}
._hostPlayerRow :first-child {
  flex: 2;
}
._hostPlayerRow:hover {
  background-color: darkblue;
}

._highlightPlayer {
  background-image: linear-gradient(to bottom right, #FF0088, #00FF76);
}

.controlGrid {
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: red;
}
.controlGrid ._controlButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

._questionDiv {
  margin: 20px 0;
}
._questionDiv ._textarea {
  height: 100px;
  width: 100%;
}

._answerDiv {
  width: 100%;
  height: 80px;
}
._answerDiv ._answerInput {
  width: 50ch;
  font-size: large;
}

.jeopardyBoard {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: auto;
}

.board {
  max-height: 100%;
  display: flex;
  flex-direction: row;
}
.board .jeopardyCategory {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  color: white;
}
.board .jeopardyCategory .categoryTitle {
  padding: 5px;
}
.board .jeopardyCategory > * {
  min-height: 30px;
  aspect-ratio: 2/1;
  background-color: blue;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex: 1;
  min-width: 75px;
  text-align: center;
}
.board .jeopardyCategory .jeopardyQuestionValue {
  padding: 10px;
  color: gold;
}
.board .jeopardyCategory .jeopardyQuestionValue::before {
  content: "$";
}

.backToBoardContainer {
  position: absolute;
  top: 0;
  left: 0;
}

.jeopardyFullScreenQuestion {
  position: relative;
  background-color: blue;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}/*# sourceMappingURL=App.css.map */